<%# <h1>Articles#index</h1>
<p>Find me in app/views/articles/index.html.erb</p> %>

<%# <h1>Hello, Rails!</h1> %>

<%= render 'partials/header' %>

<%# --Title and article count section %>
<section class="container">
	<div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
	 <div class="col-md-6 px-0">
			<h1 class="display-4 fst-italic">Articles</h1>
			<p class="lead my-3">Our blog has <%= Article.public_count %> articles and counting!</p>
		</div>
	</div>
</section>

<section class="container">
	<div class="row">
		<div class="col-md-12">
			<a href="/articles/new" class="text-dark">Create New Article</a>
		</div>
	</div>
</section>

<%# --Article list section %>
<section class="container p-5 shadow-sm p-3 mb-5 bg-body rounded">
<div class="row g-5">
    <div class="col-md-8">
			<h2 class="pb-4 mb-4 fst-italic border-bottom">
        Topics
      </h2>

			<ul>
				<% @articles.each do |article| %>
					<article class="blog-post mb-5">
							<h2 class="blog-post-title"><%= article.title %></h2>
							<p class="blog-post-meta"><%= article.created_at.strftime("%B %d, %Y") %></p>
							<p><%= article.body.truncate(100) %>
							<p><a href="/articles/<%= article.id %>" class="text-dark">Read More</a></p>
					</article>
				<% end %>
			</ul>

		</div>
</div>
</section>

<%= render 'partials/footer' %>